{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
<br><br>

    <div class="container container-fluid" style="margin-top: 50px">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Şifremi Sıfırla</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" style="margin-top: 30px">
                <button class="btn btn-outline-info" type="submit">Gönder</button>
            </div>
        </form>
    </div>
{% endblock main %}
