{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      {% if user.profile.profile_pic %}
        <img class="rounded float-left" src="{{ user.profile.profile_pic.url }}" style="max-width: 400px; height: auto;">
      {% else %}
        <img src="{% static 'default-profile.png' %}" class="float-left rounded" style="max-width: 400px; height: auto;">
      {% endif %}
      <h1 class="display-4" style="font-family: 'Playfair Display'">{{ user.username }}</h1></div>
  </div><br><br>
    <div class="container container-fluid" style="max-width:58rem;">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        </br><fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile</legend>
              {{ user_form|crispy }}
              {{ profile_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div><br>
{% endblock main %}
