{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}

{% block style %}
    <style>
        .profile-head {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

        .profile-head h4 {
            font-weight: 800;
        }

        .tags {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .tag {
          display: inline-block;
          border-width: 1px;
          border-style: solid;
          border-color: #c8d7f2 transparent #c8d7f2 #c8d7f2;
          border-radius: .25em 0 0 .25em;
          padding: 0.1em 0.6em 0.1em 0.3em;
          background-color: #e5ecf9;
          line-height: 1.2em;
        }

        .tag:after {
          content: "\25CF";
          position: absolute;
          display: inline-block;
          height: 1.2em;
          width: 1.17em;
          transform: rotate(45deg);
          color: white;
          text-indent: 0.3em;
          line-height: 1em;
          text-shadow: 0 0 1px #333;
          background-color: #e5ecf9;
          border-radius: 0.33em 0.33em 0.33em 1em;
          border-width: 1px;
          border-style: solid;
          border-color: #c8d7f2 #c8d7f2 transparent transparent;
        }


        @media only screen and (max-width: 768px) {
            .mob {
                justify-content: flex-end;
                flex-direction: column;
            }
        }

    </style>
{% endblock %}

{% block main %}

  <div class="container"><br>
    <h1 class="display-4">{{ post.title|safe }}</h1>
    <p class="lead">{{ post.description }}</p>
    <div class="card-content-meta mob">
        <p class="lead">{{post.date_created}} tarihinde paylaşıldı.</p>
        <p class="lead">Tahmini okuma süresi: {{ post.estimated_reading_time }} dakika.</p>
    </div>
  </div>

<div class="row container container-fluid mt-5 mb-5">
  {% if post.cover %}
    <img class="post-cover" src={{post.cover.url}} class="card-img-top">
  {% else %}
    <img class="post-cover" src="{% static 'default-movie.jpg' %}" class="card-img-top">
  {% endif %}
  <div class="col s12 m9 l9">
    <p>{{ post.content | safe }}</p>
    <br>
    <div id="toAdd">
      {% if user.is_authenticated %}
          {% if user in post.likes.all %}
            <p><strong>Beğendiğin için teşekkür ederim.</strong></p>
          {% else %}
          <a type="submit" id="like_" data-href="{{ post.get_api_like_url }}" href='{{ post.get_like_url }}' class="btn btn-primary"><i class="fa fa-thumbs-up"> Beğen</i></a>
          {% endif %}
      {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}"><small>Beğenmek için giriş yap.</small></a><br>
      {% endif %}
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div id="collection" class="collection with-header" style="padding: 10px;background-color: #fff;">
      <p class="collection-header">Benzer gönderiler</p>
      {% for post in similar_posts %}
        <a class="black-text collection-item" href="{% url 'article-detail' post.pk %}">{{post.title}}</a>
      {% empty %}
        <p class="text-muted collection-item">Henüz benzer bir paylaşım yok.</p>
      {% endfor %}
    </div>
  </div>
</div>

<script>

  var collection = document.getElementById("collection");
  var sticky = collection.offsetTop;
  console.log(screen.width, typeof(screen.width));
  window.onscroll = function() {
    if (screen.width > 900) {
      if (window.pageYOffset > sticky) {
        collection.classList.add("sticky");
      } else {
        collection.classList.remove("sticky");
      }
    }
  }



$(document).ready(function() {

  $("#like_").click(function(e){
    e.preventDefault()
    var this_ = $(this);
    var likeUrl = this_.attr("data-href");

    $.ajax({
      url: likeUrl,
      method: "GET",
      data: {},
      success: function(data){
      }, error: function(error){
        console.log("error");
      }
    })
    $("#toAdd").append("<p><strong>Beğendiğin için teşekkür ederim.</strong></p>");
    this_.hide();
  });
})
</script>

    <div class="container container-fluid">
        <div class="tags">
          {% for tag in post.tags.all %}
            <a href="{% url 'post_tag' tag.slug %}" class="tag">{{ tag.name }}</a>
          {% endfor %}
        </div><br>
    </div>

<br>
<div class="container container-fluid">
  <div class="row">
    <div class="col">
        <div class="profile-head">
        {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle profile float-left">
          {% else %}
            <img src="{% static 'default-profile.png' %}"  class="rounded-circle float-left profile">
        {% endif %}
        <h4>{{post.author.username}}</h4>
      </div>
      <p style="margin-left:5px;">{{ post.author.profile.description }}</p>
      <p>
      {% if post.author.profile.instagram_url %}
        <a class="btn btn-info btn-sm" href="{{ post.author.profile.instagram_url }}"><i class="fa fa-instagram"> Instagram</i></a>
      {% endif %}
      {% if post.author.profile.medium_url %}
        <a class="btn btn-info btn-sm" href="{{ post.author.profile.medium_url }}"><i class="fa fa-medium-m"> Medium</i></a>
      {% endif %}
      </p>
    </div>
  </div>
</div>
<br>


<div class="container container-fluid row s12 m12 l12">

<br><br>
  {% if comments %}
  <h4 class="text-secondary">{{ post.title }} için yorumlar</h4><hr>
    {% for comment in comments %}
      <div class="comment">
        <span>
          {% if comment.created_by.profile.profile_pic %}
            <img src="{{ comment.created_by.profile.profile_pic.url }}" class="float-left rounded-circle comment-img">
          {% else %}
            <img src="{% static 'default-profile.png' %}" class="comment-img float-left rounded-circle">
          {% endif %}
          <div class="comment-content-meta">
            <strong class="text-info">{{ comment.created_by }}</strong>
            <small class="text-muted">{{ comment.created_at }}</small>
          </div>
        </span>
        <p>{{ comment.content|linebreaks }}</p>
      </div>
    {% endfor %}
  {% else %}
    <strong class="text-secondary">Henüz hiçbir yorum yok.</strong><br><br>
  {% endif %}
  {% if user.is_authenticated %}
  <br><br>
  <h4 class="text-secondary">{{ post.title }} için bir yorum bırak.</h4>
  <form method="POST" id="comment_form">
    {% csrf_token %}
    <div class="form-group">
      {{ comment_form |crispy }}
      <button class="btn btn-info" type="submit">Gönder</button>
    </div>
  </form>
  {% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}"><small>Yorum yapmak için giriş yap.</small></a><br>
  {% endif %}
</div>
<br><br>
{% endblock %}
