{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}

{% block main %}

  <div class="container">
    <h1 class="display-4">{{ post.title|safe }}</h1>
    <p class="lead">{{ post.description }}</p>
    <div class="card-content-meta">
      <p class="lead">{{post.date_created}} tarihinde paylaşıldı.</p>
      <p class="lead">Tahmini okuma süresi: {{ post.estimated_reading_time }} dakika.</p>
    </div>
  </div>

<div class="container container-fluid mt-5 mb-5">
  {% if post.cover %}
    <img class="post-cover" src={{post.cover.url}} class="card-img-top">
  {% else %}
    <img class="post-cover" src="{% static 'default-movie.jpg' %}" class="card-img-top">
  {% endif %}
  <p>{{ post.content | safe }}</p>
  <br>
  <div id="toAdd">
    {% if user.is_authenticated %}
        {% if user in post.likes.all %}
          <p><strong>Beğendiğin için teşekkür ederim.</strong></p>
        {% else %}
        <a type="submit" id="like_" data-href="{{ post.get_api_like_url }}" href='{{ post.get_like_url }}' class="btn btn-primary"><i class="fa fa-thumbs-up"> Beğen</i></a>
        {% endif %}
    {% else %}
      <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}"><small>Beğenmek için giriş yap.</small></a><br>
    {% endif %}
  </div>
</div>

<script>
$(document).ready(function() {
  $("#like_").click(function(e){
    e.preventDefault()
    var this_ = $(this)
    var likeUrl = this_.attr("data-href")

    $.ajax({
      url: likeUrl,
      method: "GET",
      data: {},
      success: function(data){
      }, error: function(error){
        console.log("error")
      }
    })
    $("#toAdd").append("<p><strong>Beğendiğin için teşekkür ederim.</strong></p>")
    this_.hide()
  })
})
</script>

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle profile float-left">
      {% else %}
        <img src="{% static 'default-profile.png' %}"  class="rounded-circle float-left profile">
      {% endif %}
      <p style="margin-left:5px;">{{ post.author.profile.description }}</p>
      <p>
      {% if post.author.profile.instagram_url %}
        <a class="btn btn-info btn-sm" href="{{ post.author.profile.instagram_url }}"><i class="fa fa-instagram"> Instagram</i></a>
      {% endif %}
      {% if post.author.profile.medium_url %}
        <a class="btn btn-info btn-sm" href="{{ post.author.profile.medium_url }}"><i class="fa fa-medium-m"> Medium</i></a>
      {% endif %}
      </p>
    </div>
  </div>
</div>
<br>


<div class="container container-fluid">

<br><br>
  {% if comments %}
  <h4 class="text-secondary">{{ post.title }} için yorumlar</h4><hr>
    {% for comment in comments %}
      <div class="comment">
        <span>
          {% if comment.created_by.profile.profile_pic %}
            <img src="{{ comment.created_by.profile.profile_pic.url }}" class="float-left rounded-circle comment-img">
          {% else %}
            <img src="{% static 'default-profile.png' %}" class="comment-img float-left rounded-circle">
          {% endif %}
          <div class="comment-content-meta">
            <strong class="text-info">{{ comment.created_by }}</strong>
            <small class="text-muted">{{ comment.created_at }}</small>
          </div>
        </span>
        <p>{{ comment.content|linebreaks }}</p>
      </div>
    {% endfor %}
  {% else %}
    <strong class="text-secondary">Henüz hiçbir yorum yok.</strong><br><br>
  {% endif %}
  {% if user.is_authenticated %}
  <br><br>
  <h4 class="text-secondary">{{ post.title }} için bir yorum bırak.</h4>
  <form method="POST" id="comment_form">
    {% csrf_token %}
    <div class="form-group">
      {{ comment_form |crispy }}
      <button class="btn btn-info" type="submit">Gönder</button>
    </div>
  </form>
  {% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}"><small>Yorum yapmak için giriş yap.</small></a><br>
  {% endif %}
</div>
<br><br>



{% endblock %}
