{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Yazar sayfası{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h1 class="display-4">{{ author.username }} tarafından yazılan yazılar</h1>
  </div>
</div>
<div>
  {% for post in posts %}
    <div class="container container-fluid">

         <div class="card">
          <div class="card-image">
            {% if post.cover %}
              <img src={{post.cover.url}} class="card-img-top post-cover">
            {% else %}
              <a href="{% url 'article-detail' post.pk %}"><img src="{% static 'default-movie.jpg' %}" class="card-img-top post-cover"></a>
            {% endif %}
            <span class="card-title post-header">{{post.title}}</span>
          </div>
          <div class="card-content">
            <div class="card-content-meta">
              <p><small>{{ post.date_created | naturaltime }}</small></p>
              <p><small>Tahmini okuma süresi: {{ post.estimated_reading_time }} dakika.</small></p>
            </div>
            <p>{{post.description}}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'article-detail' post.pk %}">Yazının tamamı</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}
