{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Anasayfa{% endblock %}

{% block style %}
  <style type="text/css">
    .hero {
      min-width: 100%;
      min-height: 100vh;
      height: auto;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-image: url("{% static 'hero-pc.jpg' %}");
    }

    .sidenav-trigger {
      color: white;
    }

    .hero-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
    }

    .hero-h1 {
      position: absolute;
      top: 25%;
      left: 10%;
      text-shadow: 2px 2px #000;
    }

    .parallax-container {
      height: 100vh;
    }

    .hero-p {
      text-shadow: 2px 2px #000;
      position: absolute;
      top: 45%;
      left: 10%;
    }

    @media only screen and (max-width: 768px) {
      .hero-h1 {
        font-size: 28px;
      }
      .hero {
        background-image: url("{% static 'hero-mobile.jpg' %}");
      }

      .hero-p {
        top: 35%;
        padding-right: 15px;
      }
    }

  </style>
{% endblock %}

{% block main %}

  <div class="hero-wrapper">
    <div class="hero">
      <h1 class="hero-h1"><span style="color:#FFBF00;font-weight:800;">Pencere</span> blog</h1>
      <p class="hero-p">Bilim, mühendislik ve insan üzerine notlarım.</p>
    </div>
  </div>

<br><br>
  <div>
    <div class="container">
      <h1>Gönderiler</h1>
    </div>
    {% for post in posts %}
      <div class="container container-fluid">

         <div class="card">
          <div class="card-hashtag">
            <h4>
              <a class="hashtag post-header" href="{% url 'category' post.category.id %}">{{ post.category }}</a>
            </h4>
          </div>
          <div class="card-image">
            {% if post.cover %}
              <img loading="lazy" alt="{{post.title}}" src={{post.cover.url}} class="card-img-top post-cover">
            {% else %}
              <img src="{% static 'default-movie.jpg' %}" loading="lazy" class="card-img-top post-cover" alt="pencereblog-default-movie">
            {% endif %}
            <span class="card-title post-header">{{post.title}}</span>
          </div>
          <div class="card-content">
            <div class="card-content-meta">
              <p><small>{{ post.date_created | naturaltime }}</small></p>
              <p><small>Tahmini okuma süresi: {{ post.estimated_reading_time }} dakika.</small></p>
            </div>
            <p>{{post.description}}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'author' post.author.id %}">{{ post.author }}</a>
            <a href="{% url 'article-detail' post.pk %}">Yazının tamamı</a>
          </div>
        </div>
      </div>
      {% endfor %}

{% endblock %}
